body {
  background: linear-gradient(-20deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 60s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#header {
  color: #fafafa;
}

#left-wing {
  color: #fafafa;
}

#right-wing {
  color: #fafafa;
}

#typing-area, #theme-area {
  background: rgba(250, 250, 250, 0.6);
  backdrop-filter: blur(1rem);
}

#text-display {
  color: #1a1a1a;
}

#input-field {
  background: rgba(250, 250, 250, 0.6);
  color: #1a1a1a;
}

#input-field.wrong {
  background: rgb(250, 50, 90, 0.4);
}

#redo-button {
  background: rgba(250, 250, 250, 0.6);
  color: #1a1a1a;
}

#footer {
  color: #fafafa;
}

.highlight {
  color: #a56de2;
}

.correct {
  color: #1a1a1a;
}

.wrong {
  color: #c6262e;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-20deg, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: Gradient 60s ease infinite;
    width: auto;
  max-width: 400px; /* Set the max width you want */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
  margin: 0 auto; /* Centers the container horizontally */
  z-index: 100; /* Ensures it's above other content */
}

.button-container:hover {
  width: 100%; /* Stays consistent when hovered */
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}
