/*
Colors inspired by GMK Denim by T0mb3ry
https://www.originativeco.com/products/denim
red: #a62700
light blue: #687796
dark blue: #454f63
brown: #b8835f
sand: #e3d5b9
*/

body {
  background: #454f63;
}

#header {
  color: #b8835f;
}

#left-wing {
  color: #e3d5b9;
}

#right-wing {
  color: #e3d5b9;
}

#typing-area, #theme-area {
  background: #687796;
}

#text-display {
  color: #e3d5b9;
}

#input-field {
  background: #454f63;
  color: #e3d5b9;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #b8835f;
  color: #a62700;
}

#footer {
  color: #b8835f;
}

.highlight {
  color: #b8835f;
}

.correct {
  color: #a6a6a8;
}

.wrong {
  color: #a62700;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #454f63;
  width: auto;
  max-width: 400px; /* Set the max width you want */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
  margin: 0 auto; /* Centers the container horizontally */
  z-index: 100; /* Ensures it's above other content */
}

.button-container:hover {
  width: 100%; /* Stays consistent when hovered */
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}