/*
Inspired by Ducky x Varmilo Sakura by fr3fou
https://mechanicalkeyboards.com/shop/index.php?l=product_detail&p=2920
pink: #ff98ac;
darker-pink: #de1d57;
red: #fa2f56;
light-gray: #efefef;
brown: #917075;
*/

body {
  background: linear-gradient(-20deg, rgba(255,186,200,1) 0%, rgba(255,152,172,1) 100%);
}

#header {
  color: #fff;
}

#left-wing {
  color: #fff;
}

#right-wing {
  color: #fff;
}

#typing-area, #theme-area {
  background: #fff;
}

#text-display {
  color: #ff98ac;
}

#input-field {
  background: #efefef;
  color: #917075;
}

#input-field.wrong {
  background: rgba(214, 0, 43, 0.3);
  color: #fff;
}

#redo-button {
  background: #ff98ac;
  color: #fff;
}

#footer {
  color: #fff;
}

.highlight {
  color: #917075;
}

.correct {
  color: #db7998;
}

.wrong {
  color: #de1d57;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4f181e;
  width: auto;
  max-width: 400px; /* Set the max width you want */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
  margin: 0 auto; /* Centers the container horizontally */
  z-index: 100; /* Ensures it's above other content */
}

.button-container:hover {
  width: 100%; /* Stays consistent when hovered */
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}