/*
inspired by SA Vilebloom http://www.mechsupply.co.uk/product/sa-vilebloom
yellow: #F6BD9D
rose:   #FF808B
pink:   #CD6C8F
blue:   #34657F
white:  #FFFFFF
*/

body {
  background-color: #34657f;
  background-image: linear-gradient(135deg, #34657f 50%, #cd6c8f 50%);
  background-image: -webkit-linear-gradient(135deg, #cd6c8f 50%, #34657f 50%);
  background-image: -moz-linear-gradient(135deg, #cd6c8f 50%, #34657f 50%);
  background-image: -ms-linear-gradient(135deg, #cd6c8f 50%, #34657f 50%);
}

#header {
  color: #ffffff;
}

#left-wing {
  color: #ffffff;
}

#right-wing {
  color: #ffffff;
}

#typing-area, #theme-area {
  background: #f6bd9d;
}

#input-field {
  background: #ffffff;
  color: #34657f;
}

#input-field.wrong {
  background: rgba(198, 38, 46, 0.3);
}

#redo-button {
  background: #34657f;
  color: #ffffff;
}

#text-display {
  color: #cd6c8f;
}

#footer {
  color: #ffffff;
}

.highlight {
  color: #ffffff;
}

.correct {
  color: #34657f;
}

.wrong {
  color: #ff808b;
}

.button-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #4f181e;
  width: auto;
  max-width: 400px; /* Set the max width you want */
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
  margin: 0 auto; /* Centers the container horizontally */
  z-index: 100; /* Ensures it's above other content */
}

.button-container:hover {
  width: 100%; /* Stays consistent when hovered */
  transition: all 0.5s;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}